<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Passwort zurücksetzen</title>
  </head>
  <body>
    <h1>Passwort zurücksetzen</h1>
    <% if (successMessage) { %>
      <p><%= successMessage %></p>
    <% } %>
    <% if (errorMessage) { %>
      <p><%= errorMessage %></p>
    <% } %>
    <form method="post" action="/forgot-password">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required>
      <button type="submit">Passwort zurücksetzen</button>
    </form>
  </body>
</html>
